
#page .container {
/*    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;*/
    margin-bottom: 50px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.bio {
	display: flex;
	flex-direction: column;
	align-items: center;
/*margin: 0 auto;*/
	/*width: 60% ;
	margin-left: 20%*/
}

.bio img {
	margin-bottom: 30px;
}

.bio p {
	text-align: justify;
	width: 60%;
}

