
/*contenu #page photos-----------------------------*/

#page .container {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/

    /*align-items: stretch;*/
/*    max-width: 100%;
    max-height: 100%;*/

    margin-bottom: 50px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding-top: 50px;
    padding-bottom: 50px;

}

#page img {
    width: 100%;
   /* padding: 2px;*/
}

/*ligne 1--------------------------------------------*/
.element1 {
    display: flex;
    /*flex-direction: row;*/
   /* width: 100%;*/
}

.single {
    /*display: flex;*/
    display: flex;
    flex:2;
   
    /*padding-right: 0.5%*/
}

.l1img1 {
    flex: 1.5;
    padding-right: 1%;
}

.double {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*width: 33.2%;*/
   flex: 1;

}

.l1img3 {
    /*display: flex;*/
    flex: 0.75
}

.l1img4 {
    /*display: flex;*/
    flex: 0.75
}

/*ligne 2-------------------------------------------------*/
.element2 {
    display: flex;/*
    flex-direction: row;*/
}

.l2img1 {/*
    display: flex;*/
    flex: 1.5;
}

.l2img2 {/*
    display: flex;*/
    flex: 1.5;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

.l2img3 {/*
    display: flex;*/
    flex: 0.66;
}
/*ligne 3---------------------------------------------------*/
.element3 {
    display: flex;/*
    flex-direction: row;*/
}

.l3img1 {
    /*display: flex;*/
    flex: 1.5;
}

.l3img2 {
    /*display: flex;*/
    flex: 1.5;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

.l3img3 {
    /*display: flex;*/
    flex: 0.66;
    padding-right: 0.5%;
}

.l3img4 {
    /*display: flex;*/
   flex: 1.41;
}

