body {
	background: url("images/background.jpg");
	background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-color: #333;
    background-position: 50%;
    background-size: 100%;
    background-attachment: fixed;
    font-family: "Open Sans"
}

.container {
	margin: 0 auto;
	width: 80%
}

hr {
    color: white;
}


p {
    color: white;
}

h2 {
    text-transform: uppercase;
    color: white;
    font-size: 2em;
    margin-top: 110px;
    font-weight: normal;
}

h3 {
    text-transform: uppercase;
    color: white
}

/*contenu #page photos-----------------------------*/

#page .container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    /*align-items: stretch;*/
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 100px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding-top: 50px;
    padding-bottom: 50px;
}

#page img {
    width: 100%;
    padding: 2px;
}

/*ligne 1--------------------------------------------*/
.element1 {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.single {
    display: flex;
    flex: 2;
    padding-right: 0.5%
}

.double {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.l1img2 {
    display: flex;
    flex: 1
}

.l1img3 {
    display: flex;
    flex: 1
}

/*ligne 2-------------------------------------------------*/
.element2 {
    display: flex;
    flex-direction: row;
}

.l2img1 {
    display: flex;
    flex: 2;
}

.l2img2 {
    display: flex;
    flex: 2;
    padding-left: 3px;
    padding-right: 3px;
}

.l2img3 {
    display: flex;
    flex: 1;
}
/*ligne 3---------------------------------------------------*/
.element3 {
    display: flex;
    flex-direction: row;
}

.l3img1 {
    display: flex;
    flex: 2;
}

.l3img2 {
    display: flex;
    flex: 2;
    padding-left: 3px;
    padding-right: 3px;
}

.l3img3 {
    display: flex;
    flex: 1;
}

.l3img4 {
    display: flex;
    flex: 2;
}

/*header----------------------------------------*/

header {
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 600px;
}

header nav {
    margin-top: 50px;
    text-align: center;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 80%;
    padding: 0;
    text-transform: uppercase;
    text-align: center;

}

header nav ul li {
    display: inline-block;
    list-style: none;

}

header nav ul li a {
    text-align: center;
    color: white;
    text-decoration: none;
}

.selected {
    font-weight: bold;
}

header h1 {
    color: white;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 4em;
    font-style: normal;
    margin-top: 20%

}

header p {
    color: white;
    text-transform: uppercase;
    margin-top: -2.5%
}

/*articles about obsidian------------------------*/

#about .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

#about .article {
    width: 30%;
    text-align: justify;
}

#about .article time {
    text-transform: uppercase;
    color: white;
    font-size: 0.8em;

}

.event {
    margin-bottom: 1px;
    font-weight: bold;
    color: white;
}

#page p {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #CCCCCC;
}

.article img {
    width: 100%;
}



/*footer----------------------------------------*/

footer {
    padding-top: 100px;
    padding-bottom: 100px;
    color : white;
    text-align : center;
    text-transform: uppercase;
}

i {
    margin: 10px;
}